DATABASE_URL=postgresql://collab_user:collab_pass@localhost:5432/collab_editor
JWT_SECRET_KEY=d0d3b5fbb6b27bfe852245d8b265047a9fdc274113da4e04f509684be10f96ee
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
